<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <nav>
      <RouterLink
        to="/"
        class="btn btn-primary btn-sm"
      >
        Home
      </RouterLink>
      <RouterLink
        to="/editions/current/coachs/add"
        class="btn btn-primary btn-sm"
      >
        Add coach
      </RouterLink>
      <RouterLink
        to="/editions/current/squads/add"
        class="btn btn-primary btn-sm"
      >
        Add squad
      </RouterLink>
      <RouterLink
        to="/editions/current/games/add"
        class="btn btn-primary btn-sm"
      >
        Add game
      </RouterLink>
      <RouterLink
        to="/editions/current/squads/load"
        class="btn btn-primary btn-sm"
      >
        Load squads
      </RouterLink>
      <RouterLink
        to="/games/propose"
        class="btn btn-primary btn-sm"
      >
        Prepare games
      </RouterLink>
      <RouterLink
        to="/about"
        class="btn btn-primary btn-sm"
      >
        About
      </RouterLink>
    </nav>
  </header>

  <RouterView />
</template>
