<script setup lang="ts">
import ToBePlayedGamesTable from './ToBePlayedGamesTable.vue';
import PlayedGamesTable from './PlayedGamesTable.vue';
import AdminEditionBar from './AdminEditionBar.vue';
import type { NotPlayedGame, PlayedGame } from '@/services/game';
import type { Edition } from '@/services/edition';

defineProps<{
	toBePlayedGames: NotPlayedGame[];
	playedGames: PlayedGame[];
	edition: Edition;
	round: number;
}>()

defineEmits<{
	(e: 'delete-game', id: string): void,
}>();

</script>

<template>
	<AdminEditionBar :edition="edition" :round="round" />
	<h2 v-if="toBePlayedGames.length !== 0">Matchs à jouer <span class="badge rounded-pill bg-info">{{
		toBePlayedGames.length }}</span></h2>
	<ToBePlayedGamesTable v-if="toBePlayedGames.length !== 0" :games="toBePlayedGames" :display-round=false
		@info-coach="(id) => $router.push({ name: 'coach-view', params: { id } })"
		@resume="(id) => $router.push({ name: 'game-resume', params: { id } })"
		@delete="(id) => $emit('delete-game', id)" />
	<AdminEditionBar v-if="toBePlayedGames.length !== 0 && playedGames.length !== 0" :edition="edition" :round="round" />
	<h2 v-if="playedGames.length !== 0">Matchs jou&eacute;s <span class="badge rounded-pill bg-info">{{
		playedGames.length }}</span></h2>
	<PlayedGamesTable v-if="playedGames.length !== 0" :games="playedGames" :display-round=false
		:from-coach1-perspective=false :display-coach1=true
		@info-coach="(id) => $router.push({ name: 'coach-view', params: { id } })"
		@resume="(id) => $router.push({ name: 'game-resume', params: { id } })"
		@delete="(id) => $emit('delete-game', id)" />
	<AdminEditionBar v-if="toBePlayedGames.length !== 0 || playedGames.length !== 0" :edition="edition" :round="round" />
</template>
