<script setup lang="ts">
import { type Edition } from '@/services/edition';

import EditionRankingButtonGroup from './EditionRankingButtonGroup.vue';

defineProps<{
    edition: Edition;
    round: number;
}>();


</script>

<template>
    <div class="menubar">
        <button v-if="round > 0" 
            @click="() => $router.push({ name: 'main', params: { id: edition.id, round: round - 1 } })"
            class="btn btn-secondary btn-sm" role="button">Ronde précédente</button>
        <button @click="() => $router.push({ name: 'game-add' })" class="btn btn-primary btn-sm">Ajouter un
            match</button>
        <button v-if="round < edition.roundNumber"
            @click="() => $router.push({ name: 'main', params: { id: edition.id, round: round + 1 } })"
            class="btn btn-secondary btn-sm" role="button">Ronde suivante</button>
        <EditionRankingButtonGroup :edition="edition" />
    </div>
</template>