<script setup lang="ts">
import type { Coach } from '../services/coach';
import CoachLine from './CoachLine.vue';

defineProps<{
  coachs: Coach[]
}>()

defineEmits<{
  (e: 'info', id: string): void
  (e: 'ready', id:string, newValue: boolean): void
  (e: 'edit', id:string): void
  (e: 'delete', id:string): void
}>()
</script>

<template>
    <table class="table table-striped table-condensed" id="coachs">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Numero NAF</th>
            <th>Race</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <CoachLine v-for="coach in coachs" 
            :coach="coach"
            @delete="$emit('delete',coach.id)" 
            @edit="$emit('edit',coach.id)" 
            @info="$emit('info',coach.id)"
            @ready="$emit('ready',coach.id,!coach.ready)"
            v-bind:key="coach.id"
            />
    </tbody>
    </table>

</template>