<script setup lang="ts">
/* __placeholder__ */
import type { Coach } from '../services/coach';

defineEmits<{
  (e: 'info-squad', id: string): void
}>();

defineProps<{
  coach: Coach;
}>()

</script>

<template>
  <h1>Coach : {{ coach.name }} <span class="badge bg-secondary">{{ coach.id }}</span></h1>
  <ul class="list-group">
    <li class="list-group-item"><label>Numéro NAF :</label> {{ coach.nafNumber }}</li>
    <li class="list-group-item" v-if="coach.teamName?.length"><label>Nom d'&eacute;quipe :</label> {{ coach.teamName }}
    </li>
    <li class="list-group-item"><label>Race :</label> {{ coach.faction }}</li>
    <li class="list-group-item"><label>Pr&ecirc;t :</label> {{ coach.ready ? 'Oui' : 'Non' }}</li>
    <li v-if="coach.squadId" class="list-group-item"><label>Squad :</label> <button
        class="btn btn-sm btn-info" @click="$emit('info-squad', coach.squadId ?? '')">{{
          coach.squadName??coach.squadId }}</button></li>
  </ul>
</template>
