<script setup lang="ts">
import type { CoachRank } from '@/services/rank';
import CoachRankLine from './CoachRankLine.vue';

defineProps<{
  ranking: CoachRank[];
  fields: string[];
}>()

defineEmits<{
  (e: 'info', id: string): void
}>()
</script>

<template>
  <table class="table table-striped table-condensed" id="coachs">
    <thead>
      <tr>
        <th>#</th>
        <th>Coach</th>
        <th>Race</th>
        <th v-for="field in fields" :key="field">{{ field }}</th>
      </tr>
    </thead>
    <tbody>
      <CoachRankLine v-for="rank in ranking" :key="rank.id" :rank="rank" :fields="fields"
        @info="$emit('info', rank.id)" />
    </tbody>
  </table>

</template>