<script setup lang="ts">
/* __placeholder__ */
import { ref } from 'vue';
import type { CoachForCreation, CoachForUpdate } from '../services/coach';
import type { Edition } from '../services/edition';

const props = defineProps<{
    edition: Edition;
    coach?: CoachForUpdate;
}>();

defineEmits<{
    (e: 'submit', id: string, coach: CoachForCreation | CoachForUpdate): void
}>();

const coachRef = ref<CoachForCreation | CoachForUpdate>(props.coach ? props.coach : {
    name: '',
    editionId: props.edition.id,
    nafNumber: 0,
    faction: 'Unknown',
    ready: false
});


</script>

<template>
    <div class="alert alert-primary" role="alert">* champs obligatoires</div>
    <form>
        <div class="mb-3">
            <label class="form-label" for="name">Nom* :</label>
            <input class="form-control" type="text" id="name" v-model="coachRef.name" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="team">Nom de l'équipe jouée par le coach :</label>
            <input class="form-control" type="text" id="team" v-model="coachRef.teamName" />
        </div>
        <div class="mb-2">
            <label class="form-label" for="nafNumber">Numéro NAF* :</label>
            <input class="form-control" type="number" id="nafNumber" v-model="coachRef.nafNumber" />
        </div>
        <div class="mb-2">
            <label class="form-label" for="faction">Faction jouée* :</label>
            <select class="form-control" id="faction" v-model="coachRef.faction">
                <option v-for="faction in edition.allowedFactions" :value="faction" v-bind:key="faction">
                    {{ faction }}
                </option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="coachRef.ready" id="ready">
            <label class="form-check-label" for="ready">Coach prêt ? </label>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary btn-sm" type="submit"
                @click.prevent="$emit('submit', edition.id, coachRef)">Valider</button>
        </div>
    </form>
</template>