<script setup lang="ts">
/* __placeholder__ */
import type { Coach } from '../services/coach';

defineProps<{
  coach: Coach;
}>()

defineEmits<{
  (e: 'info'): void
  (e: 'ready'): void
  (e: 'edit'): void
  (e: 'delete'): void
}>()
</script>

<template>
  <tr>
    <td><button class="btn btn-info btn-sm" role="button" @click="$emit('info')">{{ coach.name }}</button></td>
    <td>{{ coach.nafNumber }}</td>
    <td>{{ coach.faction }}</td>
    <td><span class="badge" :class="{ 'bg-success': coach.ready, 'bg-warning': !coach.ready}" >{{ coach.ready ? 'Pr&ecirc;t' : 'Absent' }}</span></td>
    <td>
      <button class="btn btn-primary btn-sm" role="button" @click="$emit('ready')">{{ coach.ready ? "D&eacute;clarer absent" : "Déclarer présent" }}</button>
      <button class="btn btn-warning btn-sm" role="button"  @click="$emit('edit')">Modifier</button>
      <button class="btn btn-danger btn-sm" role="button"  @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
