<script setup lang="ts">

import type { CoachRank } from '@/services/rank';

defineProps<{
  rank: CoachRank;
  fields: string[];
}>()

defineEmits<{
  (e: 'info', id: string): void
}>()
</script>

<template>
  <tr>
    <th>{{ rank.position }}</th>
    <td><button class="btn btn-info btn-sm" role="button" @click="$emit('info', rank.id)">{{ rank.name }}</button></td>
    <td>{{ rank.faction }}</td>
    <td v-for="field in fields" v-bind:key="field">{{ rank.params.get(field) }}</td>
  </tr>
</template>
