<script setup lang="ts">
import { ref } from 'vue';
import type { Coach } from '../services/coach';
import { type Edition } from '../services/edition';
import type { GameForCreation } from '@/services/game';

const props = defineProps<{
    edition: Edition;
    availableCoachs: Coach[];
}>();

const emit = defineEmits<{
    (e: 'submit', id: string, game: GameForCreation): void
}>();

const gameRef = ref<GameForCreation>({
    round: props.edition.currentRound,
    table: 1,
    finale: false,
    played: false,
    editionId: props.edition.id,
    coachId1: '0',
    coachId2: '0'
});

const submit = () => {
    let ok = true;
    const coach1 = props.availableCoachs.find((coach) => coach.id === gameRef.value.coachId1);

    if (coach1 === undefined) {
        ok = false;
    }
    const coach2 = props.availableCoachs.find((coach) => coach.id === gameRef.value.coachId2);
    if (coach2 === undefined) {
        ok = false;
    }
    if (ok === true) {
        emit('submit', props.edition.id, gameRef.value)
    }
}

</script>

<template>
    <div class="alert alert-primary" role="alert">* champs obligatoires</div>
    <form>
        <div class="mb-3">
            <label class="form-label" for="round">Round* :</label>
            <input class="form-control" type="number" id="round" min="1" :max="edition.roundNumber" v-model="gameRef.round" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="table">table* :</label>
            <input class="form-control" type="number" id="table" min="1" v-model="gameRef.table" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="coach1">Coach 1* :</label>
            <select class="form-control" id="coach1" v-model="gameRef.coachId1">
                <option disabled value="">Choisir un coach</option>
                <option v-for="coach in availableCoachs" :value="coach.id" :key="coach.id">
                    {{ coach.name }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="coach2">Coach 2* :</label>
            <select class="form-control" id="coach2" v-model="gameRef.coachId2">
                <option disabled value="">Choisir un coach</option>
                <option v-for="coach in availableCoachs" :value="coach.id" :key="coach.id">
                    {{ coach.name }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" v-model="gameRef.finale" id="finale">
                <label class="form-check-label" for="ready">Finale ? </label>
            </div>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary btn-sm" type="button" @click.prevent="submit">Valider</button>
        </div>
    </form>
</template>