<script setup lang="ts">
import type { DeleteInfo } from '@/services/deleteinfo';

defineProps<{
    deleteInfo?: DeleteInfo;
    prefixId: string;
}>();

defineEmits<{
    (e: 'delete', target: string, id: string): void,
    (e: 'cancel'): void
}>();

</script>
<template>
    <div v-if="deleteInfo !== undefined" class="alert alert-warning" role="warning">
        <span>
            Êtes-vous sûr de vouloir supprimer {{ deleteInfo.target }} '{{ deleteInfo.id }}' ?
        </span>
        <button class="btn btn-primary btn-sm" @click="$emit('delete', deleteInfo?.target ?? '', deleteInfo?.id ?? '')"
            :id="`${prefixId}-yes`">Oui</button>
        <button class="btn btn-secondary btn-sm" @click="$emit('cancel')" :id="`${prefixId}-no`">Non</button>
    </div>
</template>