<script setup lang="ts">
import { ref } from 'vue';
import { type Edition } from '../services/edition';
import { gameToGameForUpdate, type Game, type GameForUpdate } from '@/services/game';

const props = defineProps<{
    edition: Edition;
    game: Game;
}>();

const emit = defineEmits<{
    (e: 'submit', id: string, game: GameForUpdate): void
}>();

const gameRef = ref<GameForUpdate>(gameToGameForUpdate(props.game));

const reversed = ref<boolean>(false);

const reverse = () => {
    reversed.value = reversed.value ? false : true
}

const submit = () => {
    gameRef.value.played = true;
    emit('submit', props.edition.id, gameRef.value)
};

</script>

<template>
    <h1 v-if="!reversed">Game {{ game.coach1.name }} vs {{ game.coach2.name }} <span
            class="badge bg-secondary">{{ game.id }}</span></h1>
    <h1 v-if="reversed">Game {{ game.coach2.name }} vs {{ game.coach1.name }} <span
            class="badge bg-secondary">{{ game.id }}</span></h1>
    <h2>Round {{ game.round }} - Table {{ game.table }}</h2>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td><button class="btn btn-primary btn-sm" type="button" id="reverse"
                            @click.prevent="reverse">Reverse</button></td>
                    <td>&nbsp;</td>
                </tr>
                <tr v-if="!reversed">
                    <td>
                        <label class="form-label" for="td1">Td 1* :</label>
                        <input class="form-control" type="number" id="td1" min="-1" v-model="gameRef.td1" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="td2">Td 2* :</label>
                        <input class="form-control" type="number" id="td2" min="-1" v-model="gameRef.td2" />
                    </td>
                </tr>
                <tr v-if="reversed">
                    <td>
                        <label class="form-label" for="td2">Td 2* :</label>
                        <input class="form-control" type="number" id="td2" min="-1" v-model="gameRef.td2" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="td1">Td 1* :</label>
                        <input class="form-control" type="number" id="td1" min="-1" v-model="gameRef.td1" />
                    </td>
                </tr>
                <tr v-if="!reversed">
                    <td>
                        <label class="form-label" for="casualties1">Casualties 1* :</label>
                        <input class="form-control" type="number" id="casualties1" min="-1"
                            v-model="gameRef.casualties1" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="casualties2">Casualties 2* :</label>
                        <input class="form-control" type="number" id="casualties2" min="-1"
                            v-model="gameRef.casualties2" />
                    </td>
                </tr>
                <tr v-if="reversed">
                    <td>
                        <label class="form-label" for="casualties2">Casualties 2* :</label>
                        <input class="form-control" type="number" id="casualties2" min="-1"
                            v-model="gameRef.casualties2" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="casualties1">Casualties 1* :</label>
                        <input class="form-control" type="number" id="casualties1" min="-1"
                            v-model="gameRef.casualties1" />
                    </td>
                </tr>
                <tr v-if="!reversed">
                    <td>
                        <label class="form-label" for="completions1">Completions 1* :</label>
                        <input class="form-control" type="number" id="completions1" min="-1"
                            v-model="gameRef.completions1" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="completions2">Completions 2* :</label>
                        <input class="form-control" type="number" id="completions2" min="-1"
                            v-model="gameRef.completions2" />
                    </td>
                </tr>
                <tr v-if="reversed">
                    <td>
                        <label class="form-label" for="completions2">Completions 2* :</label>
                        <input class="form-control" type="number" id="completions2" min="-1"
                            v-model="gameRef.completions2" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="completions1">Completions 1* :</label>
                        <input class="form-control" type="number" id="completions1" min="-1"
                            v-model="gameRef.completions1" />
                    </td>
                </tr>
                <tr v-if="!reversed">
                    <td>
                        <label class="form-label" for="fouls1">Fouls 1* :</label>
                        <input class="form-control" type="number" id="fouls1" min="-1" v-model="gameRef.fouls1" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="fouls2">Fouls 2* :</label>
                        <input class="form-control" type="number" id="fouls2" min="-1" v-model="gameRef.fouls2" />
                    </td>
                </tr>
                <tr v-if="reversed">
                    <td>
                        <label class="form-label" for="fouls2">Fouls 2* :</label>
                        <input class="form-control" type="number" id="fouls2" min="-1" v-model="gameRef.fouls2" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="fouls1">Fouls 1* :</label>
                        <input class="form-control" type="number" id="fouls1" min="-1" v-model="gameRef.fouls1" />
                    </td>
                </tr>
                <tr v-if="!reversed">
                    <td>
                        <label class="form-label" for="special1">Special 1* :</label>
                        <input class="form-control" type="text" id="special1" v-model="gameRef.special1" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="special2">Special 2* :</label>
                        <input class="form-control" type="text" id="special2" v-model="gameRef.special2" />
                    </td>
                </tr>
                <tr v-if="reversed">
                    <td>
                        <label class="form-label" for="special2">Special 2* :</label>
                        <input class="form-control" type="text" id="special2" v-model="gameRef.special2" />
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <label class="form-label" for="special1">Special 1* :</label>
                        <input class="form-control" type="text" id="special1" v-model="gameRef.special1" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button class="btn btn-primary btn-sm" id="submit" type="button"
                            @click.prevent="submit">Valider</button></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </form>
</template>