<script setup lang="ts">
import { type Edition } from '@/services/edition';
import { computed, Fragment, ref } from 'vue';

const props = defineProps<{
    edition: Edition;
}>();

const displayCoachRankings = ref<boolean>(false);
const displaySquadRankings = ref<boolean>(false);

const coachRankingNames = computed<string[]>(() => {
    if (props.edition.rankings.coach === undefined) {
        return [];
    }
    if (displayCoachRankings.value === false) {
        return [];
    }
    const names: string[] = [];
    for (const name in props.edition.rankings.coach) {
        if (props.edition.rankings.coach[name as keyof typeof props.edition.rankings.coach] !== undefined) {
            names.push(name);
        }
    }
    return names;
});

const squadRankingNames = computed<string[]>(() => {
    if (props.edition.rankings.squad === undefined) {
        return [];
    }
    if (displaySquadRankings.value === false) {
        return [];
    }
    const names: string[] = [];
    for (const name in props.edition.rankings.squad) {
        if (props.edition.rankings.squad[name as keyof typeof props.edition.rankings.squad] !== undefined) {
            names.push(name);
        }
    }
    return names;
});

</script>

<template>
    <button class="btn btn-sm" :class="!edition.fullSquad ? 'btn-info' : 'btn-secondary'"
        @click="displayCoachRankings = !displayCoachRankings">Classements individuels</button>
    <button v-for="name of coachRankingNames"
        @click="() => $router.push({ name: 'coach-ranking', params: { id: edition.id, rankingName: name } })"
        class="btn btn-sm" :class="!edition.fullSquad ? 'btn-info' : 'btn-secondary'" role="button"
        v-bind:key="name">Classement individuel ({{ name }})</button>
    <button class="btn btn-sm" :class="edition.fullSquad ? 'btn-info' : 'btn-secondary'"
        @click="displaySquadRankings = !displaySquadRankings">Classements par équipe</button>
    <button v-for="name of squadRankingNames"
        @click="() => $router.push({ name: 'squad-ranking', params: { id: edition.id, rankingName: name } })"
        class="btn btn-sm" :class="edition.fullSquad ? 'btn-info' : 'btn-secondary'" role="button"
        v-bind:key="name">Classement par équipe ({{ name }})</button>

</template>