<script setup lang="ts">
/* __placeholder__ */
import { ref } from 'vue';
import { fakeEdition } from '../services/edition';
import { possibleRankingFields, possibleRankingTypes } from '../services/ranking-configuration';
import type { Edition } from '../services/edition';
import StringArrayEditor from './StringArrayEditor.vue';
import RankingEditor from './RankingEditor.vue'
import PointEditor from './PointEditor.vue';

const props = defineProps<{
    edition?: Edition;
}>();

defineEmits<{
    (e: 'submit', editionToSend: Edition): void
}>();

const editionToSend = ref<Edition>(props.edition ? props.edition : fakeEdition());

</script>

<template>
    <div class="alert alert-primary" role="alert">* champs obligatoires</div>
    <form>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="name" v-model="editionToSend.name" />
                    <label for="name">Nom* :</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="text" id="organizer" v-model="editionToSend.organizer" />
                    <label for="organizer">Organisateurs* :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="date" id="day-1" v-model="editionToSend.day1" />
                    <label for="day-1">Jour 1*: </label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="date" id="day-2" v-model="editionToSend.day2" />
                    <label for="day-2">Jour 2*: </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="round-number" v-model="editionToSend.roundNumber" />
                    <label class="form-label" for="round-number">Nombre de ronde* :
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="first-day-round"
                        v-model="editionToSend.firstDayRound" />
                    <label class="form-label" for="first-day-round">Ronde du jour 1* :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="editionToSend.fullSquad" id="full-squad">
                    <label class="form-check-label" for="full-squad">Appariement par équipe ? </label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input class="form-control" type="number" id="coach-per-squad"
                        v-model="editionToSend.coachPerSquad" />
                    <label class="form-label" for="coach-per-squad">Nombre de coachs par équipe* : </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="editionToSend.useFinale" id="use-finale">
                    <label class="form-check-label" for="use-finale">Utiliser une finale ? </label>
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Factions autorisées</legend>
            <StringArrayEditor prefix-id="allowedFactions" v-model="editionToSend.allowedFactions"
                placeholder-for-new-input="Add a new faction or several factions separated by comma" />
        </fieldset>
        <fieldset>
            <legend>Classements individuels</legend>
            <RankingEditor name="principal" v-if="editionToSend.rankings.coach?.main"
                v-model="editionToSend.rankings.coach.main" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-main" />
            <RankingEditor name="td" v-if="editionToSend.rankings.coach?.td" v-model="editionToSend.rankings.coach.td"
                :possible-fields="possibleRankingFields()" :possible-types="possibleRankingTypes()"
                prefixId="coach-td" />
            <RankingEditor name="sorties" v-if="editionToSend.rankings.coach?.casualties"
                v-model="editionToSend.rankings.coach.casualties" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-casualties" />
            <RankingEditor name="comeback" v-if="editionToSend.rankings.coach?.comeback"
                v-model="editionToSend.rankings.coach.comeback" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-comeback" />
            <RankingEditor name="passes" v-if="editionToSend.rankings.coach?.completions"
                v-model="editionToSend.rankings.coach.completions" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-completions" />
            <RankingEditor name="aggression" v-if="editionToSend.rankings.coach?.fouls"
                v-model="editionToSend.rankings.coach.fouls" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-fouls" />
            <RankingEditor name="défense" v-if="editionToSend.rankings.coach?.defense"
                v-model="editionToSend.rankings.coach.defense" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="coach-defense" />
        </fieldset>
        <fieldset>
            <legend>Classements par équipe</legend>
            <RankingEditor name="principal" v-if="editionToSend.rankings.squad?.main"
                v-model="editionToSend.rankings.squad.main" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-main" />
            <RankingEditor name="td" v-if="editionToSend.rankings.squad?.td" v-model="editionToSend.rankings.squad.td"
                :possible-fields="possibleRankingFields()" :possible-types="possibleRankingTypes()"
                prefixId="squad-td" />
            <RankingEditor name="sorties" v-if="editionToSend.rankings.squad?.casualties"
                v-model="editionToSend.rankings.squad.casualties" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-casualties" />
            <RankingEditor name="comeback" v-if="editionToSend.rankings.squad?.comeback"
                v-model="editionToSend.rankings.squad.comeback" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-comeback" />
            <RankingEditor name="passes" v-if="editionToSend.rankings.squad?.completions"
                v-model="editionToSend.rankings.squad.completions" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-completions" />
            <RankingEditor name="aggression" v-if="editionToSend.rankings.squad?.fouls"
                v-model="editionToSend.rankings.squad.fouls" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-fouls" />
            <RankingEditor name="défense" v-if="editionToSend.rankings.squad?.defense"
                v-model="editionToSend.rankings.squad.defense" :possible-fields="possibleRankingFields()"
                :possible-types="possibleRankingTypes()" prefixId="squad-defense" />
        </fieldset>
        <fieldset>
            <legend>Points</legend>
            <PointEditor name="par game" v-model="editionToSend.gamePoints" prefixId="game-points" />
            <PointEditor name="par confrontation" v-model="editionToSend.confrontationPoints" prefixId="confrontation-points" />
        </fieldset>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-sm" type="submit"
                    @click.prevent="$emit('submit', editionToSend)">Valider</button>
            </div>
        </div>
    </form>
</template>