<script setup lang="ts">
import type { PlayedGame } from '@/services/game';
import PlayedGameLine from './PlayedGameLine.vue';

defineProps<{
  games: PlayedGame[];
  displayRound: boolean;
  fromCoach1Perspective: boolean;
  displayCoach1: boolean
}>()

const emits = defineEmits<{
  (e: 'resume', id: string): void,
  (e: 'delete', id: string): void,
  (e: 'info-coach', id: string): void
}>()

const infoCoach = (id: string) => {
  emits('info-coach', id)
}
</script>

<template>
  <table id="playedGames" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th v-if="displayRound">Round</th>
        <th>Table</th>
        <th>Adversaire{{ displayCoach1 ? "s" : "" }}</th>
        <th>Score</th>
        <th>Sorties</th>
        <th>Points</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <PlayedGameLine v-for="game in games" :game="game" :display-round="displayRound"
        :from-coach1-perspective="fromCoach1Perspective" :display-coach1="displayCoach1"
        @delete="$emit('delete', game.id)" @edit="$emit('resume', game.id)" @info-coach="infoCoach"
        v-bind:key="game.id" />
    </tbody>
  </table>

</template>