<script setup lang="ts">
import type { PlayedGame } from '@/services/game';

/* __placeholder__ */

const props = defineProps<{
  game: PlayedGame;
  displayRound: boolean;
  fromCoach1Perspective: boolean;
  displayCoach1: boolean;
}>();

defineEmits<{
  (e: 'delete'): void,
  (e: 'edit'): void,
  (e: 'info-coach', id: string): void
}>()

const classByValues = (value1: number, value2: number) => {
  if (props.fromCoach1Perspective === false) {
    return '';
  }
  if (value1 === value2) {
    return 'bg-warning';
  }
  if (value1 < value2) {
    return 'bg-danger';
  }
  return 'bg-success';
}

</script>

<template>
  <tr>
    <td v-if="displayRound">{{ game.round }}</td>
    <td>{{ game.table }}</td>
    <td><button v-if="displayCoach1" class="btn btn-info btn-sm" role="button" @click="$emit('info-coach', game.coach1.id)">{{
      game.coach1.name }}</button>
      vs <button class="btn btn-info btn-sm" role="button" @click="$emit('info-coach', game.coach2.id)">{{
        game.coach2.name }}</button></td>
    <td :class="classByValues(game.td1, game.td2)"> {{ game.td1 }} - {{ game.td2 }}</td>
    <td> {{ game.casualties1 }} - {{ game.casualties2 }}</td>
    <td> {{ game.points1 }} - {{ game.points2 }}</td>
    <td>
      <button class="btn btn-warning btn-sm" role="button" @click="$emit('edit')">Modifier</button>
      <button class="btn btn-danger btn-sm" role="button" @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
