<script setup lang="ts">
import { reactive } from 'vue';
import PointInput from './PointInput.vue';
import ConditionInput from './ConditionInput.vue';
import { emptyClause, emptyPointConfiguration, type Clause, type PointConfiguration } from '@/services/point-configuration';
import PointSummary from './PointSummary.vue';

defineProps<{
	prefixId: string;
	name: string
}>()

const pointConfiguration = defineModel<PointConfiguration>({ default: emptyPointConfiguration() });

const toBeAdded = reactive<Clause>(emptyClause());

const deleteIndex = (index: number) => {
	pointConfiguration.value.clauses.splice(index, 1)
}

const addClause = () => {
	pointConfiguration.value.clauses.push({ ...toBeAdded })
	const empty = emptyClause();
	toBeAdded.condition = empty.condition;
	toBeAdded.valueIfTrue = empty.valueIfTrue;
}

</script>

<template>
	<details>
		<summary >
			{{ name }} : <PointSummary :point-configuration />
		</summary>
		<div class="row">
			<PointInput label="Default value" required v-model="pointConfiguration.default"
				:prefixId="`${prefixId}-default`" />
		</div>
		<div class="row" v-for="(clause, i) in pointConfiguration.clauses" v-bind:key="clause.valueIfTrue">
			<ConditionInput required label="Condition" v-model="clause.condition"
				:prefixId="`${prefixId}-clause-${i}`" />
			<PointInput required label="Value if true" v-model="clause.valueIfTrue"
				:prefixId="`${prefixId}-clause-${i}`" />
			<div class=" col">
				<button class="btn btn-danger btn-sm" role="button" @click.prevent="deleteIndex(i)"
					:id="`${prefixId}-clause-${i}-delete`">-</button>
			</div>
		</div>
		<div class="row">
			<ConditionInput label="Condition" v-model="toBeAdded.condition" :prefixId="`${prefixId}-add`" />
			<PointInput label="Value if true" v-model="toBeAdded.valueIfTrue" :prefixId="`${prefixId}-add`" />
			<div class=" col">
				<button class="btn btn-primary btn-sm" role="button" @click.prevent="addClause"
					:id="`${prefixId}-add`">+</button>
			</div>
		</div>
	</details>
</template>
