<script setup lang="ts">

const props = defineProps<{
	prefixId: string;
	label: string;
	required?: boolean;
}>()

const value = defineModel<string>()

const formattedLabel = (label: string) => {
	if (props.required){
		return `${label}*`;
	}
	return label;
}

</script>

<template>
	<div class="col">
		<div class="form-floating">
			<input :required="required" class="form-control" type="text" :id="`${prefixId}-point`" v-model.lazy="value" />
			<label class="form-label" :for="`${prefixId}-point`">{{formattedLabel(label)}}</label>
		</div>
	</div>
</template>
