<script setup lang="ts">
import { type PointConfiguration,summarizePointConfiguration } from '@/services/point-configuration';

defineProps<{
	pointConfiguration: PointConfiguration;
}>()
</script>

<template>
	<ul>
		<li v-for="(field, index) in summarizePointConfiguration(pointConfiguration)" :key="index">{{ field }}</li>
	</ul>
</template>
