<script setup lang="ts">
import type { Coach } from '@/services/coach';
import type { Squad } from '@/services/squad';
import type { Edition } from '@/services/edition';

import PrepareEditionBar from './PrepareEditionBar.vue';
import CoachsTable from './CoachsTable.vue';
import SquadsTable from './SquadsTable.vue';

defineProps<{
	coachs: Coach[];
	squads: Squad[];
	edition: Edition;
}>()

defineEmits<{
	(e: 'coach-ready', id: string, newValue: boolean): void
	(e: 'squad-ready', id: string, newValue: boolean): void
}>()
</script>

<template>
	<PrepareEditionBar :edition="edition" />
	<h2 v-if="coachs.length !== 0">Coachs<span class="badge bg-info rounded-pill">{{ coachs.length
			}}</span></h2>
	<CoachsTable v-if="coachs.length !== 0" :coachs="coachs"
		@info="(id: string) => $router.push({ name: 'coach-view', params: { id } })"
		@edit="(id: string) => $router.push({ name: 'coach-edit', params: { id } })"
		@ready="(id: string, newValue: boolean) => $emit('coach-ready', id, newValue)" />
	<PrepareEditionBar v-if="coachs.length !== 0 && squads.length !== 0" :edition="edition" />
	<h2 v-if="squads.length !== 0">Squads<span class="badge bg-info rounded-pill">{{ squads.length
			}}</span></h2>
	<SquadsTable v-if="squads.length !== 0" :squads="squads"
		@info="(id: string) => $router.push({ name: 'squad-view', params: { id } })"
		@edit="(id: string) => $router.push({ name: 'squad-edit', params: { id } })"
		@ready="(id: string, newValue: boolean) => $emit('squad-ready', id, newValue)" />
	<PrepareEditionBar v-if="coachs.length !== 0 || squads.length !== 0" :edition="edition" />
</template>
