<script setup lang="ts">
import type { Edition } from '@/services/edition';
import EditionRankingButtonGroup from './EditionRankingButtonGroup.vue';

defineProps<{
    edition: Edition;
}>();

</script>
<template>
    <div class="menubar">
        <button @click="() => $router.push({ name: 'game-add' })" class="btn btn-primary btn-sm">
            Ajouter un match</button>
        <button @click="() => $router.push({ name: 'main', params: { id: edition.id, round: 1 } })"
            class="btn btn-secondary btn-sm" role="button">Ronde suivante</button>
        <button @click="() => $router.push({ name: 'edition-edit', params: { id: edition.id } })"
            class="btn btn-secondary btn-sm" role="button">Éditer l'edition</button>
        <EditionRankingButtonGroup :edition="edition" />
    </div>
</template>