<script setup lang="ts">
import { type RankingField, summarizeRankingField } from '@/services/ranking-configuration';
import { computed } from 'vue';

const props=defineProps<{
	ranking: RankingField[];
}>()


const summarizedRankingFields = computed<string[]>(() => {
	return props.ranking.map((field) => {
		return summarizeRankingField(field);
	});
});

</script>

<template>
	<ul>
		<li v-for="(field, index) in summarizedRankingFields" :key="index">{{ field }}</li>
	</ul>
</template>
