<script setup lang="ts">
import { type RankingField } from '@/services/ranking-configuration';
import { reactive } from 'vue';
import RankingInput from './RankingInput.vue';
import RankingSummary from './RankingSummary.vue';

const props = defineProps<{
	possibleFields: string[];
	possibleTypes: string[];
	prefixId: string;
	name: string;
}>()

const ranking = defineModel<RankingField[]>({ default: [] });

const toBeAdded = reactive<RankingField>({
	label: '',
	field: '',
	type: '',
	descending: false
});

const deleteIndex = (index: number) => {
	if (ranking.value !== undefined) {
		ranking.value.splice(index, 1)
	}
}

const addRankingField = () => {
	if (ranking.value !== undefined) {
		ranking.value.push({ ...toBeAdded })
	}
	toBeAdded.label = '';
	toBeAdded.field = '';
	toBeAdded.type = '';
	toBeAdded.descending = false;
}

</script>

<template>
	<details>
		<summary v-if="ranking">
			{{name}}: <RankingSummary :ranking />
		</summary>
		<div class="row" v-for="(_, i) in ranking" v-bind:key="ranking[i].label">
			<RankingInput required v-model="ranking[i]" :possible-fields="possibleFields" :possible-types="possibleTypes"
				:prefixId="`${prefixId}-${i}`" v-bind:key="ranking[i].label" />
			<div class=" col">
				<button class="btn btn-danger btn-sm" role="button" @click.prevent="deleteIndex(i)"
					:id="`${prefixId}-${i}-delete`">-</button>
			</div>
		</div>
		<div class="row">
			<RankingInput v-model="toBeAdded" :possible-fields="possibleFields" :possible-types="possibleTypes"
				:prefixId="`${prefixId}-add`" />
			<div class=" col">
				<button class="btn btn-primary btn-sm" role="button" @click.prevent="addRankingField"
					:id="`${prefixId}-add`">+</button>
			</div>
		</div>
	</details>
</template>
