<script setup lang="ts">
import type { RankingField } from '@/services/ranking-configuration';

const props = defineProps<{
	possibleFields: string[];
	possibleTypes: string[];
	prefixId: string;
	required?: boolean;
}>()

const formattedLabel = (label: string) => {
	if (props.required){
		return `${label}*`;
	}
	return label;
}

const rankingField = defineModel<RankingField>()

</script>

<template>
	<div class="col" v-if="rankingField">
		<div class="form-floating">
			<input :required="required" class="form-control" type="text" :id="`${prefixId}-label`" v-model.lazy="rankingField.label" />
			<label class="form-label" :for="`${prefixId}-label`">{{formattedLabel('Label')}}</label>
		</div>
	</div>
	<div class="col" v-if="rankingField">
		<div class="form-floating">
			<select :required="required" class="form-select" :id="`${prefixId}-type`" aria-label="Type selection"
				v-model="rankingField.type" >
				<option v-for="possibleType in possibleTypes" :value="possibleType" v-bind:key="possibleType">{{ possibleType }}</option>
			</select>
			<label class="form-label" :for="`${prefixId}-type`">{{formattedLabel('Type')}}</label>
		</div>
	</div>
	<div class="col" v-if="rankingField">
		<div class="form-floating">
			<select :required="required" class="form-select" aria-label="Field selection" :id="`${prefixId}-field`"
				v-model="rankingField.field">
				<option v-for="possibleField in possibleFields" :value="possibleField" v-bind:key="possibleField">{{ possibleField }}</option>
			</select>
			<label class="form-label" :for="`${prefixId}-field`">{{formattedLabel('Champ')}}</label>
		</div>
	</div>
	<div class="col" v-if="rankingField">
		<div class="form-check">
			<input :required="required" class="form-check-input" type="checkbox" v-model="rankingField.descending"
				:id="`${prefixId}-descending`" />
			<label class="form-check-label" :for="`${prefixId}descending`">{{formattedLabel('Décroissant')}}</label>
		</div>
	</div>
</template>
