<script setup lang="ts">
/* __placeholder__ */
import type { Squad } from '@/services/squad';

defineEmits<{
  (e: 'info-coach', id: string): void,
  (e: 'edit-coach', id: string): void,
}>()

defineProps<{
  squad: Squad;
}>()

</script>

<template>
  
  <h1>Squad : {{ squad.name }} <span class="badge bg-secondary">{{ squad.id }}</span></h1>
  <h2>Membres:</h2>
  <ul>
    <li v-for="teamMate in squad.teamMates" class="list-group-item" v-bind:key="teamMate.id"><button :id="'info-' + teamMate.id"
        class="btn btn-sm btn-info" @click="$emit('info-coach', teamMate.id)">{{ teamMate.name }}</button> - {{
          teamMate.faction }} <button :id="'edit-' + teamMate.id" class="btn btn-sm btn-warning"
        @click="$emit('edit-coach', teamMate.id)">Modifier</button></li>
  </ul>
</template>
