<script setup lang="ts">
import { computed } from 'vue';
import SquadForBulkCreationLine from './SquadForBulkCreationLine.vue';
import type { SquadForBulkCreation } from '@/services/squad';
import type { Edition } from '@/services/edition';

const props = defineProps<{
  squads: SquadForBulkCreation[];
  edition: Edition;
}>()

defineEmits<{
  (e: 'delete', name: string): void
}>()

// Coach - Number - faction
const fields = computed<string[]>(() => {
  if (props.squads.length === 0) {
    return [];
  }
  return props.squads[0].teamMates.flatMap((_unused, index) => [`Coach ${index + 1}`, `Faction ${index + 1}`, `Number Naf ${index + 1}`]);
});

</script>

<template>
  <table class="table table-striped table-condensed" id="squadsForBulkCreation">
    <thead>
      <tr>
        <th>Squad</th>
        <th v-for="field in fields" v-bind:key="field">{{ field }} </th>
      </tr>
    </thead>
    <tbody>
      <SquadForBulkCreationLine v-for="squad in squads" :squad="squad" :edition="edition"
        @delete="$emit('delete', squad.name)" v-bind:key="squad.name" />
    </tbody>
  </table>

</template>