<script setup lang="ts">
import { computed } from 'vue';
import { isReady, type Squad } from '../services/squad';
import SquadLine from './SquadLine.vue';

const props = defineProps<{
  squads: Squad[]
}>()

defineEmits<{
  (e: 'info', id: string): void
  (e: 'edit', id: string): void
  (e: 'delete', id: string): void
  (e: 'ready', id: string, newValue: boolean): void
}>()

// Compute isReady for all squads
// a computed ref
const readinessForSquad = computed(() => {
  return new Map<string,boolean>(props.squads.map((squad: Squad)=>[squad.id,!isReady(squad)]))
})

</script>

<template>
  <table id="squads" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Membres</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <SquadLine v-for="squad in squads" :squad="squad" @delete="$emit('delete', squad.id)"
        @edit="$emit('edit', squad.id)" @info="$emit('info', squad.id)" @ready="$emit('ready', squad.id, readinessForSquad.get(squad.id)||false)"
        v-bind:key="squad.id" />
    </tbody>
  </table>

</template>