<script setup lang="ts">
import type { SquadForBulkCreation } from '@/services/squad';
import TeamMateForBulkCreationData from './TeamMateForBulkCreationData.vue';
import type { Edition } from '@/services/edition';

defineProps<{
  squad: SquadForBulkCreation;
  edition: Edition;
}>()

defineEmits<{
  (e: 'delete'): void
}>()

</script>

<template>
  <tr>
    <td><input type="text" v-model="squad.name" /></td>
    <TeamMateForBulkCreationData v-for="teamMate in squad.teamMates" :team-mate="teamMate" :edition="edition" v-bind:key="teamMate.name"/>
    <td>
      <button class="btn btn-danger btn-sm" role="button"  @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
