<script setup lang="ts">
/* __placeholder__ */
import  {type Squad, displayMembers, isReady } from '@/services/squad';

defineProps<{
  squad: Squad;
}>()

defineEmits<{
  (e: 'info'): void
  (e: 'ready'): void
  (e: 'edit'): void
  (e: 'delete'): void
}>()

</script>

<template>
  <tr>
    <td><button class="btn btn-info btn-sm" role="button" @click="$emit('info')">{{ squad.name }}</button></td>
    <td>{{ displayMembers(squad) }}</td>
    <td><span class="badge" :class="{ 'bg-success': isReady(squad), 'bg-warning': !isReady(squad)}" >{{ isReady(squad) ? 'Pr&ecirc;t' : 'Absent' }}</span></td>
    <td>
      <button class="btn btn-primary btn-sm" role="button"  @click="$emit('ready')">{{ isReady(squad) ? "D&eacute;clarer absent" : "Déclarer présent" }}</button>
      <button class="btn btn-warning btn-sm" role="button"  @click="$emit('edit')">Modifier</button>
      <button class="btn btn-danger btn-sm" role="button"  @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
