<script setup lang="ts">
/* __placeholder__ */
import { ref } from 'vue';
import type { Coach } from '../services/coach';
import type { Squad, SquadForCreation } from '@/services/squad';
import { type Edition } from '../services/edition';

const props = defineProps<{
    edition: Edition;
    availableCoachs: Coach[];
    squad?: Squad;
}>();

const emit = defineEmits<{
    (e: 'submit', id: string, squad: Squad | SquadForCreation): void
}>();

const squadRef = ref<Squad | SquadForCreation>(props.squad ? props.squad : {
    name: '',
    editionId: props.edition.id,
    teamMates: [
        { id: '0' },
        { id: '0' },
        { id: '0' }
    ]
});

const submit = () => {
    let ok = true;
    const coach1 = props.availableCoachs.find((coach) => coach.id === squadRef.value.teamMates[0].id);

    if (coach1 !== undefined) {
        squadRef.value.teamMates[0] = { name: coach1.name, id: coach1.id, teamName: coach1.teamName ?? '' };
    } else {
        ok = false;
    }
    const coach2 = props.availableCoachs.find((coach) => coach.id === squadRef.value.teamMates[1].id);
    if (coach2 !== undefined) {
        squadRef.value.teamMates[1] = { name: coach2.name, id: coach2.id, teamName: coach2.teamName ?? '' };
    } else {
        ok = false;
    }
    const coach3 = props.availableCoachs.find((coach) => coach.id === squadRef.value.teamMates[2].id);
    if (coach3 !== undefined) {
        squadRef.value.teamMates[2] = { name: coach3.name, id: coach3.id, teamName: coach3.teamName ?? '' };
    } else {
        ok = false;
    }

    if (ok === true) {
        emit('submit', props.edition.id, squadRef.value)
    }
}

</script>

<template>
    <div class="alert alert-primary" role="alert">* champs obligatoires</div>
    <form>
        <div class="mb-3">
            <label class="form-label" for="name">Nom* :</label>
            <input class="form-control" type="text" id="name" v-model="squadRef.name" />
        </div>
        <div class="mb-6">
            <label class="form-label" for="member1">Membre 1* :</label>
            <select class="form-control" id="member1" v-model="squadRef.teamMates[0].id">
                <option disabled value="">Choisir un coach</option>
                <option v-for="coach in availableCoachs" :value="coach.id" :key="coach.id">
                    {{ coach.name }}
                </option>
            </select>
            <label class="form-label" for="member2">Membre 2* :</label>
            <select class="form-control" id="member2" v-model="squadRef.teamMates[1].id">
                <option disabled value="">Choisir un coach</option>
                <option v-for="coach in availableCoachs" :value="coach.id" :key="coach.id">
                    {{ coach.name }}
                </option>
            </select>
            <label class="form-label" for="member3">Membre 3* :</label>
            <select class="form-control" id="member3" v-model="squadRef.teamMates[2].id">
                <option disabled value="">Choisir un coach</option>
                <option v-for="coach in availableCoachs" :value="coach.id" :key="coach.id">
                    {{ coach.name }}
                </option>
            </select>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary btn-sm" type="submit" @click.prevent="submit">Valider</button>
        </div>
    </form>
</template>