<script setup lang="ts">
import type { SquadRank } from '@/services/rank';
import SquadRankLine from './SquadRankLine.vue';

defineProps<{
  ranking: SquadRank[];
  fields: string[];
}>()

defineEmits<{
  (e: 'info', id: string): void
}>()
</script>

<template>
  <table class="table table-striped table-condensed" id="coachs">
    <thead>
      <tr>
        <th>#</th>
        <th>&Eacute;quipe</th>
        <th>Participants</th>
        <th v-for="field in fields" :key="field">{{ field }}</th>
      </tr>
    </thead>
    <tbody>
      <SquadRankLine v-for="rank in ranking" :key="rank.id" :rank="rank" :fields="fields"
        @info="$emit('info', rank.id)" />
    </tbody>
  </table>

</template>