<script setup lang="ts">

defineProps<{
	value: string;
	prefixId: string;
}>()

defineEmits<{
	(e: 'delete', deletedValue: string): void,
}>();

</script>

<template>
	<div class="col-1" :id="`${prefixId}-value`">
		{{ value }}
	</div>
	<div class="col-1">
		<button class="btn btn-danger btn-sm" role="button" @click.prevent="$emit('delete', value)"
			:id="`${prefixId}-delete`">-</button>
	</div>
</template>
