<script setup lang="ts">
import { computed, ref } from 'vue';
import StringArrayEditorElement from './StringArrayEditorElement.vue';

defineProps<{
	placeholderForNewInput: string;
	prefixId: string;
}>()

const values = defineModel<string[]>();

const toBeAdded = ref<string>('');

const deleteIndex = (index: number) => {
	if(values.value !== undefined){
		values.value.splice(index, 1)
	}
}

const addString = () => {
	if(values.value !== undefined){
		values.value.push(toBeAdded.value)
	}
	toBeAdded.value = ''
}

const addStrings = () => {
	if(values.value !== undefined){
		values.value = values.value.concat(toBeAdded.value.split(',').map(v=>v.trim()));
	}
	toBeAdded.value = ''
}

const valuesAsString = computed(() => values.value ? values.value.join(', '):'')

</script>

<template>
	<details>
		<summary>
			{{ valuesAsString }}
		</summary>
		<div class="row">
			<StringArrayEditorElement v-for="(value, i) in values" :value="value" :prefixId="`${prefixId}-${i}`" @delete="deleteIndex(i)" v-bind:key="i"/>
		</div>
		<div class="row">
			<div class="col">
				<input type="text" v-model="toBeAdded" :placeholder="placeholderForNewInput" :id="`${prefixId}-add-value`"/>
			</div>
			<div class="col">
				<button class="btn btn-primary btn-sm" role="button" @click.prevent="addString()" :id="`${prefixId}-add-button`">+</button>
			</div>
			<div class="col">
				<button class="btn btn-primary btn-sm" role="button" @click.prevent="addStrings()" :id="`${prefixId}-add-bulk-button`">++</button>
			</div>
		</div>
	</details>
</template>
