<script setup lang="ts">
import type { Edition } from '@/services/edition';
import type { TeamMateInSquadForBulkCreation } from '@/services/squad';

/* __placeholder__ */

defineProps<{
  teamMate: TeamMateInSquadForBulkCreation;
  edition: Edition;
}>()

</script>

<template>
  <td><input type="text" v-model="teamMate.name" /></td>
  <td>
    <select class="form-control" id="faction" v-model="teamMate.faction">
      <option v-for="faction in edition.allowedFactions" :value="faction" v-bind:key="faction">
        {{ faction }}
      </option>
    </select>
  </td>
  <td><input type="number" min="0" v-model="teamMate.nafNumber" /></td>
</template>
