<script setup lang="ts">
import type { ToBeCreatedConfrontation } from '@/services/confrontation';

/* __placeholder__ */

defineProps<{
  confrontation: ToBeCreatedConfrontation;
}>()

defineEmits<{
  (e: 'delete'): void
}>()

</script>

<template>
  <div class="row">
    <div class="col">
      <h3><svg v-if="confrontation.finale" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-award">
          <circle cx="12" cy="8" r="7"></circle>
          <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
        </svg>
        {{ confrontation.squadName1 }} vs {{ confrontation.squadName2 }}</h3>

    </div>
    <div class="col">
      <button class="btn btn-danger btn-sm" role="button" @click="$emit('delete')">Supprimer</button>
    </div>
  </div>
  <div class="row" v-for="game of confrontation.games" v-bind:key="game.coachId1">
    <div class="col">
      Table {{ game.table }} - {{ game.coachName1 }} vs {{ game.coachName2 }}
    </div>
  </div>
</template>
