<script setup lang="ts">
import type { NotPlayedGame } from '@/services/game';
import ToBePlayedGameLine from './ToBePlayedGameLine.vue';

defineProps<{
  games: NotPlayedGame[];
  displayRound: boolean;
}>()

const emits = defineEmits<{
  (e: 'resume', id: string): void
  (e: 'delete', id: string): void,
  (e: 'info-coach',id: string):void
}>()

const infoCoach = (id:string)=>{
  emits('info-coach',id)
}
</script>

<template>
  <table id="toBePlayedGames" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th v-if="displayRound">Round</th>
        <th>Table</th>
        <th>Adversaire 1</th>
        <th>Adversaire 2</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ToBePlayedGameLine v-for="game in games" :game="game" :display-round="displayRound" @delete="$emit('delete', game.id)"
        @resume="$emit('resume', game.id)" @info-coach="infoCoach" v-bind:key="game.id" />
    </tbody>
  </table>

</template>