<script setup lang="ts">
import type { ToBeCreatedGame } from '@/services/game';

/* __placeholder__ */

defineProps<{
  game: ToBeCreatedGame;
}>()

defineEmits<{
  (e: 'delete'): void
}>()

</script>

<template>
  <tr>
    <td><svg v-if="game.finale" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-award">
          <circle cx="12" cy="8" r="7"></circle>
          <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
        </svg>{{ game.table }}</td>
    <td>{{ game.squadName1 }}</td>
    <td>{{ game.coachName1 }}</td>
    <td> vs </td>
    <td>{{ game.coachName2 }}</td>
    <td>{{ game.squadName2 }}</td>
    <td>
      <button class="btn btn-danger btn-sm" role="button"  @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
