<script setup lang="ts">
import type { ToBeCreatedConfrontation } from '../services/confrontation';
import ToBeCreatedConfrontationLine from './ToBeCreatedConfrontationLine.vue';

defineProps<{
  confrontations: ToBeCreatedConfrontation[]
}>()

defineEmits<{
  (e: 'delete', id: string): void
}>()

</script>

<template>
  <ToBeCreatedConfrontationLine v-for="confrontation in confrontations" :confrontation="confrontation"
    @delete="$emit('delete', `${confrontation.squadId1}vs${confrontation.squadId2}`)" v-bind:key="confrontation.squadId1" />
</template>