<script setup lang="ts">
import type { NotPlayedGame } from '@/services/game';

/* __placeholder__ */

defineProps<{
  game: NotPlayedGame;
  displayRound: boolean;
}>()

defineEmits<{
  (e: 'delete'): void,
  (e: 'resume'): void,
  (e: 'info-coach',id: string):void
}>()

</script>

<template>
  <tr>
    <td v-if="displayRound">{{ game.round }}</td>
    <td>{{ game.table }}</td>
    <td><button class="btn btn-info btn-sm" role="button"  @click="$emit('info-coach',game.coach1.id)">{{ game.coach1.name }}</button></td>
    <td><button class="btn btn-info btn-sm" role="button"  @click="$emit('info-coach',game.coach2.id)">{{ game.coach2.name }}</button></td>
    <td>
      <button class="btn btn-success btn-sm" role="button"  @click="$emit('resume')">Résumer</button>
      <button class="btn btn-danger btn-sm" role="button"  @click="$emit('delete')">Supprimer</button>
    </td>
  </tr>
</template>
