<script setup lang="ts">
import type { ToBeCreatedGame } from '../services/game';
import ToBeCreatedGameLine from './ToBeCreatedGameLine.vue';

defineProps<{
  games: ToBeCreatedGame[]
}>()

defineEmits<{
  (e: 'delete', id: number): void
}>()

</script>

<template>
  <table id="games" class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Table</th>
        <th>Squad</th>
        <th>Coach</th>
        <th>-</th>
        <th>Coach</th>
        <th>Squad</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ToBeCreatedGameLine v-for="game in games" :key="game.table" :game="game" @delete="$emit('delete', game.table)" />
    </tbody>
  </table>

</template>