<script setup lang="ts">
import { useRoute } from 'vue-router';
import AddCoachForm from '../components/CoachForm.vue'
import { ref, watch } from 'vue';
import type { CoachForCreation } from '@/services/coach';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';

const route = useRoute()

const edition = ref<Edition | null>(null)
const error = ref<string | null>(null)
const message = ref<string| null>(null)
const loading = ref(false)

async function fetchData(mistypedId: ()=>string|string[]) {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        const idAsInt = parseInt(id, 10)
        if (isNaN(idAsInt)) {
            edition.value = await layer.getCurrentEdition();
        } else {
            edition.value = await layer.getEdition(id);
        }
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}

async function postData(_id:string, coach:CoachForCreation){
    loading.value = true;
    let createdId: string| null = null;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createdId = await layer.createCoachForEdition(coach);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createdId !== null){
        message.value = `Coach created ${coach.name} with id: ${createdId}!`;
        setTimeout(()=>{
            message.value = null;
        },10_000)
    }else{
        error.value = `Unable to create coach ${coach.name}`;
    }
    loading.value = false;
};

// watch the params of the route to fetch the data again
watch(() => route.params.id, fetchData, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error!==null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message!==null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <AddCoachForm v-if="edition" :edition="edition" @submit="postData"/>
    </main>
</template>
