<script setup lang="ts">
import { useRoute } from 'vue-router';
import EditionForm from '../components/EditionForm.vue'
import { ref } from 'vue';
import { DataLayer } from '@/services/data-layer';
import { fakeEdition, type Edition } from '@/services/edition';
import { add_days, get_iso_8660_date } from '@/services/date';

const edition = ref<Edition>(edition_for_today(fakeEdition()))
const error = ref<string | null>(null)
const message = ref<string| null>(null)
const loading = ref(false)

function edition_for_today(editionToChange: Edition):Edition{
    const now = new Date();
    const tomorrow = add_days(now,1);
    const day1 = get_iso_8660_date(now);
    const day2 = get_iso_8660_date(tomorrow);
    const currentRound = 0;
    return {...editionToChange,day1,day2, currentRound };
}

async function postData(edition:Edition){
    loading.value = true;
    let createOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createOk = await layer.createEdition(edition);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createOk === true){
        message.value = `Edition created ${edition.name}!`;
        setTimeout(()=>{
            message.value = null;
        },10_000)
    }else{
        error.value = `Unable to create edition ${edition.name}`;
    }
    loading.value = false;
};


</script>

<template>
    <main>
        <div v-if="error!==null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <EditionForm :edition="edition" @submit="postData"/>
        <div v-if="message!==null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </main>
</template>
