<script setup lang="ts">
import { useRoute } from 'vue-router';
import CreateGameForm from '../components/CreateGameForm.vue'
import { ref, watch } from 'vue';
import type { GameForCreation } from '@/services/game';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';
import type { Coach } from '@/services/coach';

const route = useRoute()

const edition = ref<Edition | null>(null)
const error = ref<string | null>(null)
const availableCoachs = ref<Coach[]>([])
const message = ref<string | null>(null)
const loading = ref(false)

async function fetchData(mistypedId: () => string | string[]) {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        const idAsInt = parseInt(id, 10)
        if (isNaN(idAsInt)) {
            edition.value = await layer.getCurrentEdition();
        } else {
            edition.value = await layer.getEdition(id);
        }
        availableCoachs.value = await layer.getCoachsByEdition(edition.value.id)
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}

async function postData(_id: string, game: GameForCreation) {
    loading.value = true;
    let createOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createOk = await layer.createGameForEdition(game);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createOk === true) {
        message.value = `Game created ${game.round} ${game.table}!`;
        setTimeout(() => {
            message.value = null;
        }, 10_000)
    } else {
        error.value = `Unable to create game ${game.round} ${game.table}`;
    }
    loading.value = false;
};

// watch the params of the route to fetch the data again
watch(() => route.params.id, fetchData, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error !== null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <CreateGameForm v-if="edition" :edition="edition" :available-coachs="availableCoachs" @submit="postData" />
    </main>
</template>
