<script setup lang="ts">
import { useRoute } from 'vue-router';
import { ref, watch } from 'vue';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';
import type { Game, GameForUpdate } from '@/services/game';
import EditGameForm from '../components/EditGameForm.vue'

const route = useRoute();

const edition = ref<Edition | null>(null);
const game = ref<Game | undefined>(undefined);
const error = ref<string | null>(null);
const message = ref<string | null>(null);
const loading = ref(false);

//
async function fetchData(mistypedId: () => string[] | string) {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        game.value = await layer.getGame(id)
        if (game.value.editionId !== undefined) {
            edition.value = await layer.getEdition(game.value.editionId);
        } else {
            error.value = `Unable to get edition attached to this game #${game.value.id}`;
        }
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}

async function postData(_id: string, game: GameForUpdate): Promise<void> {
    loading.value = true;
    let createOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createOk = await layer.updateGame(game);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createOk === true) {
        message.value = `Game round ${game.round} - table ${game.table}  updated !`;
        setTimeout(() => {
            message.value = null;
        }, 10_000)
    } else {
        error.value = `Unable to updated game round ${game.round} - table ${game.table} `;
    }
    loading.value = false;
    return;
};

// watch the params of the route to fetch the data again
watch(() => route.params.id, fetchData, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error !== null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <EditGameForm v-if="edition&&game" :edition="edition" :game="game" @submit="postData" />
    </main>
</template>
