<script setup lang="ts">
import { useRoute } from 'vue-router';
import EditionForm from '../components/EditionForm.vue'
import { ref, watch } from 'vue';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';

const route = useRoute()

const edition = ref<Edition | null>(null)
const error = ref<string | null>(null)
const message = ref<string | null>(null)
const loading = ref(false)

async function postData(edition: Edition) {
    if(!edition.hasOwnProperty('id')){
        error.value = 'Unable to get id from Edition, it will not update any edition';
        return;
    }
    loading.value = true;
    let updateOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        updateOk = await layer.updateEdition(edition as Edition);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (updateOk === true) {
        message.value = `Edition ${edition.name} updated!`;
        setTimeout(() => {
            message.value = null;
        }, 10_000)
    } else {
        error.value = `Unable to updated edition ${edition.name}`;
    }
    loading.value = false;
};

// watch the params of the route to fetch the data again
watch(() => route.params.id, async (mistypedId: string | string[]) => {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        edition.value = await layer.getEdition(id);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error !== null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <EditionForm v-if="edition" :edition="edition" @submit="postData" />
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    </main>
</template>
