<script setup lang="ts">
import { useRoute } from 'vue-router';
import SquadForm from '../components/SquadForm.vue'
import { ref, watch } from 'vue';
import type { Squad } from '@/services/squad';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';
import type { Coach } from '@/services/coach';

const route = useRoute()

const edition = ref<Edition | null>(null)
const squad = ref<Squad | undefined>(undefined)
const availableCoachs = ref<Coach[]>([])
const error = ref<string | null>(null)
const message = ref<string | null>(null)

const loading = ref(false)

//
async function fetchData(mistypedId: () => string[] | string) {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        squad.value = await layer.getSquad(id)
        if (squad.value.editionId !== undefined) {
            edition.value = await layer.getEdition(squad.value.editionId);
            const coachs = await layer.getCoachsByEdition(edition.value.id)
            availableCoachs.value = coachs.filter(coach => {
                console.log('in filter: ', { coach });
                return (coach.squadId === undefined || coach.squadId === '0' || coach.squadId === id)
            });
        } else {
            error.value = `Unable to get edition attached to this Squad ${squad.value.name} #${squad.value.id}`;
        }
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}

async function postData(_id: string, squad: Squad): Promise<void> {
    loading.value = true;
    let createOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createOk = await layer.updateSquad(squad);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createOk === true) {
        message.value = `Squad ${squad.name} updated !`;
        setTimeout(() => {
            message.value = null;
        }, 10_000)
    } else {
        error.value = `Unable to updated Squad ${squad.name}`;
    }
    loading.value = false;
    return;
};

// watch the params of the route to fetch the data again
watch(() => route.params.id, fetchData, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error !== null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <SquadForm v-if="edition" :edition="edition" :squad="squad" :availableCoachs="availableCoachs"
            @submit="(id, squad) => postData(id, squad as unknown as Squad)" />
    </main>
</template>
