<script setup lang="ts">
import { useRoute } from 'vue-router';
import AddCoachForm from '../components/CoachForm.vue'
import { ref, watch } from 'vue';
import type { CoachForCreation, CoachForUpdate } from '@/services/coach';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';

const route = useRoute()

const edition = ref<Edition | null>(null)
const coach = ref<CoachForUpdate | undefined>(undefined)
const error = ref<string | null>(null)
const message = ref<string | null>(null)

const loading = ref(false)

// async function fetchData(mistypedId: () => string | string[]) {
//     const id = mistypedId as unknown as string;
//     error.value = null;
//     loading.value = true;
//     const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
//     try {
//         coach.value = await layer.getCoach(id);
//         if (coach.value.editionId !== undefined) {
//             edition.value = await layer.getEdition(coach.value.editionId);
//         } else {
//             error.value = `Unable to get edition attached to this coach ${coach.value.name} #${coach.value.id}`;
//         }
//     } catch (err: unknown) {
//         if (typeof err === "string") {
//             error.value = err;
//         } else if (err instanceof Error) {
//             error.value = err.message;
//         }
//     } finally {
//         loading.value = false
//     }
// }

async function postData(_id: string, coach: CoachForUpdate|CoachForCreation) {
    // We get ride of CoachForCreation
    if(!coach.hasOwnProperty('id')){
        error.value = 'Unable to get id from Coach, it will not update any coach';
        return;
    }
    loading.value = true;
    let createOk = false;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        createOk = await layer.updateCoach(coach as CoachForUpdate);
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    }
    if (createOk === true) {
        message.value = `Coach ${coach.name} updated!`;
        setTimeout(() => {
            message.value = null;
        }, 10_000)
    } else {
        error.value = `Unable to updated coach ${coach.name}`;
    }
    loading.value = false;
};

// watch the params of the route to fetch the data again
// watch(() => route.params.id, fetchData, { immediate: true })
//watch(() => route.params.id, async (mistypedId: () => string | string[]) => {
watch(() => route.params.id, async (mistypedId: string | string[]) => {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        coach.value = await layer.getCoach(id);
        if (coach.value.editionId !== undefined) {
            edition.value = await layer.getEdition(coach.value.editionId);
        } else {
            error.value = `Unable to get edition attached to this coach ${coach.value.name} #${coach.value.id}`;
        }
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}, { immediate: true })


</script>

<template>
    <main>
        <div v-if="error !== null" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="message !== null" class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <AddCoachForm v-if="edition" :edition="edition" :coach="coach" @submit="postData" />
    </main>
</template>
