<script setup lang="ts">
import { useRoute } from 'vue-router';
import { ref, watch } from 'vue';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';
import { cvsToSquadsForBulkCreation, saveSquads } from '@/services/loader';
import type { SquadForBulkCreation } from '@/services/squad';
import SquadsForBulkCreationTable from '@/components/SquadsForBulkCreationTable.vue'

const route = useRoute()

const edition = ref<Edition | null>(null)
const error = ref<string | null>(null)
const squads = ref<SquadForBulkCreation[]>([])
const loading = ref(false)

async function fetchData(mistypedId: () => string | string[]) {
    const id = mistypedId as unknown as string;
    error.value = null;
    loading.value = true;
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    try {
        const idAsInt = parseInt(id, 10)
        if (isNaN(idAsInt)) {
            edition.value = await layer.getCurrentEdition();
        } else {
            edition.value = await layer.getEdition(id);
        }
    } catch (err: unknown) {
        if (typeof err === "string") {
            error.value = err;
        } else if (err instanceof Error) {
            error.value = err.message;
        }
    } finally {
        loading.value = false
    }
}

// watch the params of the route to fetch the data again
watch(() => route.params.id, fetchData, { immediate: true })

const fileChanged = async (e: Event) => {
    console.log('fileChanged');
    if (e.target) {
        const target = e.target as HTMLInputElement;
        if (target.files && target.files.length > 0) {
            const file = target.files[0];
            if (file.type == 'text/csv' || file.type === 'application/vnd.ns-excel') {
                const content = await file.text();
                const { errors, data } = cvsToSquadsForBulkCreation(content, edition.value);
                if (errors.length) {
                    squads.value = [];
                    error.value = errors.join('\n');
                } else {
                    error.value = null;
                    squads.value = data;
                }

            }
        }
    }
}

const deleteLine = (name: string) => {
    squads.value = squads.value.filter((squad) => squad.name !== name);
}

const save = () => {
    if(edition.value === null) 
    {
        return;
    }
    const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
    saveSquads(layer,edition.value.id,squads.value);
}   

// to do save squad to API

</script>
<template>
    <details>
        <summary>
            <h2>File format</h2>
        </summary>
        <div class="alert alert-info" role="alert" v-if="edition">
            The file to include must be a csv file. The headers must be:
            <ul>
                <li><i>coach_team_name</i> or <i>squad_name</i></li>
                <li>coach_1_name</li>
                <li>coach_1_naf</li>
                <li>coach_1_race</li>
                <li>coach_2_name</li>
                <li>coach_2_naf</li>
                <li>coach_2_race</li>
                <li>...</li>
            </ul>
            For this edition, every line must have {{ edition?.coachPerSquad }} coach per line.

            For example, you can have a file like that:
            <pre>
                <code>
coach_team_name,coach_1_name,coach_1_naf,coach_1_race,coach_2_name,coach_2_naf,coach_2_race
crazy team,crazy_one,101547,orc,crazy_two,101548,amazon
socks_bowl,trambi,99,Skaven,longshot,101,Wood elf
                </code>
            </pre>
            It will create two squads. One with crazy_one and crazy_two a second one with trambi and longshot.
        </div>
    </details>
    <div class="mb-3">
        <label for="formFile" class="form-label">CSV file</label>
        <input class="form-control" type="file" id="formFile" @change="fileChanged" />
        <SquadsForBulkCreationTable v-if="edition" :squads="squads" :edition="edition" @delete="deleteLine" />
    </div>
    <!--Add button to save the created squad-->
    <button class="btn btn-success" @click="save">Import</button>

</template>