<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

import type { Edition } from '@/services/edition';
import { DataLayer } from '@/services/data-layer';
import type { Coach } from '@/services/coach';
import type { Squad } from '@/services/squad';
import type { Game, NotPlayedGame, PlayedGame } from '@/services/game';
import type { DeleteInfo } from '@/services/deleteinfo';

import PrepareEdition from '../components/PrepareEdition.vue';
import AdminEdition from '../components/AdminEdition.vue';
import DeleteBox from '../components/DeleteBox.vue'

const loading = ref(false)
const coachs = ref<Coach[]>([])
const squads = ref<Squad[]>([])
const loadingReadinessCoachIds = ref<Set<string>>(new Set<string>())
const loadingReadinessSquadIds = ref<Set<string>>(new Set<string>())
const error = ref<string | null>(null)
const edition = ref<Edition | undefined>(undefined)
const round = ref<number | undefined>(undefined)
const games = ref<Game[]>([])
const deleting = ref<DeleteInfo | undefined>(undefined)

const route = useRoute();

async function fetchData(whatever: unknown) {
  const idAndRound = whatever as { id: string | undefined, round: string | undefined };
  const id = idAndRound.id;
  const roundNumber = idAndRound.round === undefined ? undefined : +(idAndRound.round);
  error.value = null;
  loading.value = true;
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  try {
    if (id === undefined) {
      edition.value = await layer.getCurrentEdition();
    }
    else {
      edition.value = await layer.getEdition(id);
    }
    round.value = roundNumber !== undefined ? roundNumber : edition.value.currentRound
    if (round.value === 0) {
      coachs.value = await layer.getCoachsByEdition(edition.value.id);
      squads.value = await layer.getSquadsByEdition(edition.value.id);
    } else {
      games.value = await layer.getGamesByEditionAndRound(edition.value.id, round.value)
    }
  } catch (err: unknown) {
    if (typeof err === "string") {
      error.value = err;
    } else if (err instanceof Error) {
      error.value = err.message;
    }
  } finally {
    loading.value = false
  }
}

const playedGames = computed<PlayedGame[]>(() => {
  const result = games.value.filter(game => game.played === true);
  return result as PlayedGame[];
});
const toBePlayedGames = computed<NotPlayedGame[]>(() => {
  const result = games.value.filter(game => game.played === false);
  return result as NotPlayedGame[];
});

// onMounted(() => {
//   fetchData({id:undefined,round:undefined});
// })

watch(() => route.params, fetchData, { immediate: true });

const askBeforeDeletingGame = (id: string) => {
  deleting.value = {
    target: 'game',
    id,
    name: ''
  }
};

const handleCancelDelete = () => {
  deleting.value = undefined;
};

const handleDelete = async (target: string, id: string) => {
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  if (target === 'game') {
    const result = await layer.deleteGame(id);
    if (result){
      games.value = games.value.filter(game => game.id !== id);
    }else{
      error.value = `Unable to delete game ${id}`;
    }
  }
  deleting.value = undefined;
}

const handleCoachReady = async (id: string,readiness: boolean) => {
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  loadingReadinessCoachIds.value.add(id);
  const response = await layer.updateCoachReadiness(id,readiness);
  if (response){
    coachs.value = coachs.value.map(coach => {
      if (coach.id === id){
        coach.ready = readiness;
      }
      return coach;
    });
    squads.value = squads.value.map(squad => {
      if (squad.teamMates.some(coach => coach.id === id)){
        for (const coach of squad.teamMates){
          if(coach.id === id){
            coach.ready = readiness;
          }
        }
      }
      return squad;
    });
  }
  loadingReadinessCoachIds.value.delete(id);
} 
const handleSquadReady = async (id: string,readiness: boolean) => {
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  loadingReadinessSquadIds.value.add(id);
  const response = await layer.updateSquadReadiness(id,readiness);
  if (response){
    squads.value = squads.value.map(squad => {
      if (squad.id === id){
        for (const coach of squad.teamMates){
          coach.ready = readiness;
        }
      }
      return squad;
    });
    coachs.value = coachs.value.map(coach => {
      if (coach.squadId === id){
        coach.ready = readiness;
      }
      return coach;
    });
  }
  loadingReadinessSquadIds.value.delete(id);
}

</script>

<template>

  <main>
    <div v-if="loading" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div v-if="error !== null" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <DeleteBox :delete-info="deleting" @cancel="handleCancelDelete" @delete="handleDelete" prefix-id="deletebox"/>
    <h1>Administration {{ edition?.name }} - tour {{ round }}</h1>
    <PrepareEdition v-if="round === 0 && edition" :coachs="coachs" 
    :squads="squads" 
    :edition="edition" 
    :loading-readiness-coach-ids="loadingReadinessCoachIds"
    @coach-ready="handleCoachReady" 
    @squad-ready="handleSquadReady"/>
    <AdminEdition v-if="round && edition" :toBePlayedGames="toBePlayedGames" :playedGames="playedGames" :round="round"
      :edition="edition" @delete-game="askBeforeDeletingGame" />
  </main>
</template>
