<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { prepareNextRound, type Edition } from '@/services/edition';
import { DataLayer } from '@/services/data-layer';
import { gameToBeCreatedToGameForCreation, type ToBeCreatedGame } from '@/services/game';

import ToBeCreatedGamesTable from '@/components/ToBeCreatedGamesTable.vue';
import ToBeCreatedConfrontations from '@/components/ToBeCreatedConfrontations.vue';
import { confrontationToBeCreatedToGamesForCreation, type ToBeCreatedConfrontation } from '@/services/confrontation';

const loading = ref(false)
const error = ref<string | null>(null)
const edition = ref<Edition | null>(null)
const games = ref<ToBeCreatedGame[]>([])
const confrontations = ref<ToBeCreatedConfrontation[]>([])

async function fetchData() {
  error.value = null;
  loading.value = true;
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  try {
    edition.value = await layer.getCurrentEdition();
    const playedGames = await layer.getPlayedGamesByEdition(edition.value.id);
    const squads = await layer.getSquadRanking(edition.value.id,'main');
    const coachs = await layer.getCoachRanking(edition.value.id,'main');
    const result = prepareNextRound(edition.value, playedGames, coachs, squads);
    if (edition.value.fullSquad) {
      confrontations.value = result as ToBeCreatedConfrontation[];
      games.value = [];
    } else {
      games.value = result as ToBeCreatedGame[];
      confrontations.value = [];
    }

  } catch (err: unknown) {
    if (typeof err === "string") {
      error.value = err;
    } else if (err instanceof Error) {
      error.value = err.message;
    }
  } finally {
    loading.value = false
  }
}

function removeByTable(table: number) {
  games.value = games.value.filter(game => game.table !== table);
}

function removeById(confrontationId: string){
  confrontations.value = confrontations.value.filter(confrontation => {
    return `${confrontation.squadId1}vs${confrontation.squadId2}` !== confrontationId
  })
}

function createGames(_payload: MouseEvent) {
  console.log('createGames');
  if (edition.value === null) {
    console.log('edition.value === null');
    return;
  }
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  try {
    games.value.forEach((game) => {
      layer.createGameForEdition(gameToBeCreatedToGameForCreation(game));
    });
    confrontations.value.flatMap(confrontationToBeCreatedToGamesForCreation).forEach(game => {
      layer.createGameForEdition(game);
    })
    edition.value.currentRound = edition.value.currentRound + 1;
    layer.updateEdition(edition.value)
  } catch (err: unknown) {
    if (typeof err === "string") {
      error.value = err;
    } else if (err instanceof Error) {
      error.value = err.message;
    }
  }
  return;
}

onMounted(() => {
  fetchData();
})

</script>

<template>
  <main>
    <div v-if="loading" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div v-if="error !== null" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <h2 v-if="games.length">Proposed games <span class="badge bg-info rounded-pill">{{ games.length }}</span></h2>
    <ToBeCreatedGamesTable v-if="games.length" :games="games" @delete="removeByTable" />
    <h2 v-if="confrontations.length">Proposed confrontations <span class="badge bg-info rounded-pill">{{
      confrontations.length }}</span></h2>
    <ToBeCreatedConfrontations v-if="confrontations.length" :confrontations="confrontations" @delete="removeById"/>
    <button v-if="edition !== null" type="button" class="btn btn-warning" @click="createGames">Créer les matchs et
      passer à la ronde {{ edition.currentRound + 1 }}</button>
  </main>
</template>
