<script setup lang="ts">
import { useRoute } from 'vue-router';
import CoachRankingTable from '../components/CoachRankingTable.vue'
import { computed, ref, watch } from 'vue';
import { DataLayer } from '@/services/data-layer';
import type { Edition } from '@/services/edition';
import type { CoachRank } from '@/services/rank';

import AdminEditionBar from '../components/AdminEditionBar.vue';

const route = useRoute()

const loading = ref(false)
const edition = ref<Edition | null>(null)
const ranking = ref<CoachRank[]>([])
const error = ref<string | null>(null)

async function fetchData(params: unknown) {
  // mistypedId is a string but type definition of vuejs for watch 
  // seems to be incompatible with vue-router
  const idAndRankingName = params as { id: string | undefined, rankingName: string | undefined };
  const id = idAndRankingName.id;
  const rankingName = idAndRankingName.rankingName;
  error.value = null
  if (id === undefined) {
    if (rankingName === undefined) {
      error.value = 'id of edition and ranking name must be specified';
    } else {
      error.value = 'id of edition must be specified';
    }
    edition.value = null;
    ranking.value = [];
    return;
  }
  if (rankingName === undefined) {
    error.value = 'ranking name must be specified';
    edition.value = null;
    ranking.value = [];
    return;
  }
  loading.value = true
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  try {
    edition.value = await layer.getEdition(id);
    if ((edition?.value?.rankings?.coach) && (rankingName in edition?.value?.rankings?.coach)) {
      ranking.value = await layer.getCoachRanking(id, rankingName);
    } else {
      error.value = `unknown coach ranking: ${rankingName} for the edition ${edition.value.name}`;
      loading.value = false;
      return;
    }
  } catch (err: unknown) {
    if (typeof err === "string") {
      error.value = err;
    } else if (err instanceof Error) {
      error.value = err.message;
    }
  } finally {
    loading.value = false;
  }
}

const fields = computed<string[]>(() => {
  if ((edition?.value?.rankings?.coach) && typeof route.params.rankingName === 'string' && (route.params.rankingName in edition?.value?.rankings?.coach)) {
    const rankingFields = edition.value.rankings.coach[route.params.rankingName as keyof typeof edition.value.rankings.coach];
    if (rankingFields === undefined) {
      return [];
    }
    return rankingFields.map(field => field.label);
  }
  return [];
});

// watch the params of the route to fetch the data again
watch(() => route.params, fetchData, { immediate: true });
</script>

<template>
  <main>
    <AdminEditionBar v-if="edition" :edition="edition" :round="edition?.currentRound ?? 0" />
    <CoachRankingTable v-if="ranking.length !== 0" :ranking="ranking" :fields="fields"
      @info="(id) => $router.push({ name: 'coach-view', params: { id } })" />
  </main>
</template>
