<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import type { Squad } from '@/services/squad';
import { DataLayer } from '@/services/data-layer';
import type { DeleteInfo } from '@/services/deleteinfo';
import type { Game, NotPlayedGame, PlayedGame } from '@/services/game';
import SquadInfo from '../components/SquadInfo.vue';
import ToBePlayedGamesTable from '@/components/ToBePlayedGamesTable.vue';
import PlayedGamesTable from '@/components/PlayedGamesTable.vue';
import DeleteBox from '@/components/DeleteBox.vue';

const route = useRoute()

const loading = ref(false)
const squad = ref<Squad | null>(null)
const error = ref<string | null>(null)
const games = ref<Game[]>([])
const deleting = ref<DeleteInfo | undefined>(undefined)


watch(() => route.params.id, fetchData, { immediate: true })

async function fetchData(mistypedId: () => string | string[]) {
  // mistypedId is a string but type definition of vuejs for watch 
  // seems to be incompatible with vue-router
  const id = mistypedId as unknown as string
  error.value = squad.value = null
  loading.value = true
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  try {
    squad.value = await layer.getSquad(id);
    games.value = await layer.getGamesBySquad(id);
  } catch (err: unknown) {
    if (typeof err === "string") {
      error.value = err;
    } else if (err instanceof Error) {
      error.value = err.message;
    }
  } finally {
    loading.value = false
  }
}

const playedGames = computed<PlayedGame[]>(() => {
  const result = games.value.filter(game => game.played === true);
  return result as PlayedGame[];
});
const toBePlayedGames = computed<NotPlayedGame[]>(() => {
  const result = games.value.filter(game => game.played === false);
  return result as NotPlayedGame[];
});


const router = useRouter();
const infoCoach = (id: string) => router.push({ name: 'coach-view', params: { id } });
const editCoach = (id: string) => router.push({ name: 'coach-edit', params: { id } });
const resumeGame = (id: string) => router.push({ name: 'game-resume', params: { id } });

const askBeforeDeletingGame = (id: string) => {
  deleting.value = {
    target: 'game',
    id,
    name: ''
  }
};

const handleCancelDelete = () => {
  deleting.value = undefined;
};

const handleDelete = async (target: string, id: string) => {
  const layer = new DataLayer('http://localhost:8000/v2', fetch.bind(window));
  if (target === 'game') {
    const result = await layer.deleteGame(id);
    if (result) {
      games.value = games.value.filter(game => game.id !== id);
    } else {
      error.value = `Unable to delete game ${id}`;
    }
  }
  deleting.value = undefined;
}


</script>

<template>

  <main>
    <span v-if="loading">loading ...</span>
    <DeleteBox :delete-info="deleting" @cancel="handleCancelDelete" @delete="handleDelete" prefix-id="deletebox"/>
    <button v-if="squad !== null" class="btn btn-sm btn-warning"
      @click="$router.push({ name: 'squad-edit', params: { id: squad?.id } })">Modifier</button>
    <SquadInfo v-if="squad !== null" :squad="squad" @info-coach="infoCoach" @edit-coach="editCoach" />
    <ToBePlayedGamesTable v-if="toBePlayedGames.length !== 0" :games="toBePlayedGames" :display-round=true
      @info-coach="infoCoach" @resume="resumeGame" @delete="askBeforeDeletingGame" />
    <PlayedGamesTable v-if="playedGames.length !== 0" :games="playedGames" :display-round=true
      :from-coach1-perspective=true :display-coach1=true @info-coach="infoCoach" @resume="resumeGame" @delete="askBeforeDeletingGame" />
    <button v-if="squad !== null" class="btn btn-sm btn-warning"
      @click="$router.push({ name: 'squad-edit', params: { id: squad?.id } })">Modifier</button>
  </main>

</template>
